@font-face {
  font-family: 'title';
  src: font_url('Caveat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#title {
  font-family: 'title';
  font-size: 25px;
}

#error_explanation {
  border: 1px solid red;
  color: whitesmoke;
  background: #FF3636;
}